%header
  %nav
    .container
      %a{ href: "/"}
        %img{ src: "#", alt: "Logo von essenswoche.de"}/
        Essenswoche.de
      #header-stage
        %h1 Planen Sie Ihre Essenswoche
        %h2 Wir helfen Ihnen dabei Ihre Lieblingsrezepte ... planbarkeit ... kostensparung ... fitnessbewusst etc
        %a.cta.btn.btn-primary{ href: "#"} Erfahren Sie wie!


