%header
  %nav
    .container
      %a{ href: "/"}
        %img{ src: "#", alt: "Logo von essenswoche.de"}/
      #stage.text-center
        %h1 Lecker ohne Stress
        %h2 Wir helfen Ihnen dabei Ihre Lieblingsrezepte ... planbarkeit ... kostensparung ... fitnessbewusst etc
        %a.cta.btn.btn-primary{ href: "#"} Erfahren Sie wie!

%main
  %section
    .container
      .row
        .col
          1. Anmelden
        .col
          2. Link merken
        .col
          3. Essen planen

  %section
    %p Anmeldung - Hier kann man sich anmelden oder einloggen, wenn schon vorhanden

  %section
    %p Seo Content - Beschreibung der Seite und was die alles können muss

  %section
    %p Seo Content - Beschreibung der Seite und was die alles können muss

%footer
  Hier sollen paar links rein impressum etc  Link zu richertproductionde Social integration
